name: Test

on: [pull_request]

jobs:
  lint:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Lint (ESLint)
        run: npm run lint
      
